$white: #ffffff;
$black: #000000;
$purple: #7C3AEA;
$blue: #2563EB;
$blueDark: #003150;
$yellow: #FFCA0E;

$orange1: #FF6300;
$orange2: #FF9900;
$blue1: #2D2D92;
$blue2: #2626CA;
$blue3: #3232AE;

$gradient1: linear-gradient(90deg, $orange1 0%, $orange2 100%);
$gradient2: linear-gradient(180deg, $blue3 42.71%, $blue1 100%);
$gradient3: linear-gradient(84.55deg, $blue1 3.74%, $blue2 78.59%);
